<%= form_with url: root_path, local: true, method: :get, class: "form-inline" do |f| %>
  <div class="form-group mb2 search_term_wrapper">
    
    <%= f.text_field :term, placeholder: "Term", value: params[:term] %>
  </div>
  <div class="form-group">
    <%= f.submit "Search", class: "btn btn-info search_btn" %>
  </div>
<% end %>
