<% if @widget.errors.any? %>
  alert("<%= @widget.errors.full_messages.first %>");

  <% else %>
$("#widget_<%= @widget.id %>").fadeOut(800 , function(e){
  $(this).remove();
  if ($(".wigd").length < 1){
    $(".all-widgets").prepend("<div class='no_widgets container'><p> You don't have any widgets yet , start by creating one</p></div>");   

  }
});


<% end %>
