<% if @must_login %>
  <div class="need_login">
    <p>You need to Sign Up or Sign In to contine </p>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= link_to "New Widget",
                    new_widget_path,
                    class: "btn btn-primary new_widget_btn",
                    rel: "modal:open" %>
      </div>
      <div class="col-sm-12 col-md-6 search_col">
        <%= render "search" %>
      </div>
    </div>
  </div>

  
  <div class="row all-widgets">
    <%= render partial: "widget", collection: @widgets %>
  </div>
<% end %>
