<% if @must_login %>
  <div class="need_login">
    <p>You need to Sign Up or Sign In to contine </p>
  </div>
<% else %>
  <ul>
    <% @widgets.each do |w| %>
      <li><%= w.user_data %></li>
    <% end %>
  </ul>
<% end %>
