.page-body {
  padding-top: calc(1rem + 74px);
  padding-bottom: 6rem;
}
#mainNav {
  transition: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.errors_area {
  text-align: center;
  ul {
    margin: 0;
    list-style: none;

    li {
      color: red;
      font-size: 0.9rem;
    }
  }
}

.blocker {
  z-index: 1050;
}
.jq-modal {
  z-index: 1060;
}
.inside-modal-header {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  background: green;
  right: 0px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
}
.form-body {
  margin-top: 40px;
}
