.page-body {
  padding-top: calc(1rem + 74px);
  padding-bottom: 6rem;
}
#mainNav {
  transition: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.errors_area {
  text-align: center;
  ul {
    margin: 0;
    list-style: none;

    li {
      color: red;
      font-size: 0.9rem;
    }
  }
}

.blocker {
  z-index: 1050;
}
.jq-modal {
  z-index: 1060;
}
.inside-modal-header {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  background: green;
  right: 0px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
}
.form-body {
  margin-top: 40px;
}
.widget-wrapper {
  padding: 15px 10px;

  margin-bottom: 10px;
  .widget-main {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .widget-header {
      background: #4c6ef5;
      text-align: center;
      color: white;
      font-size: 4rem;
      padding: 15px 0px;
    }
    .widget-name {
      padding: 5px 12px;
      font-size: 0.9rem;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .widget-desc,
    .widget-user {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px 12px;
      p {
        margin: 0;
      }
    }
    .widget-user {
      position: relative;
      padding-top: 15px;

      .created-by {
        position: absolute;
        top: 0px;
        font-size: 0.6rem;
        left: 0px;
        background: #00a900;
        color: white;
        padding: 2px 5px;
      }
    }
    .widget-desc,
    .widget-name,
    .widget-user {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.animated_widget {
  display: none;
}
